body {
  background-color: white;
  font-family: arial, sans-serif;
}
a {
  color: #0556ee;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #dadde1;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  padding: 15px;
}
.weather-app-city {
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}
.weather-app-details {
  font-size: 16px;
  line-height: 20px;
  color: #7c7c7c;
}
header {
  border-bottom: 1 px solid white;
  padding: 0 0 30px 0;
}

.search-form-input {
  background: white;
  border: 1px solid #dadde1;
  border-radius: 10px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
  color: #7c7c7c;
}
.search-form-button {
  background: #0556ee;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 10px;
  color: white;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-description {
  color: #7c7c7c;
  font-weight: bolder;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-icon {
  width: 88px;
  height: 88px;
}
.weather-app-temperature {
  font-size: 88px;
  font-weight: 600px;
  line-height: 88px;
}
.weather-app-temperature-unit {
  margin-top: 10px;
  font-size: 30px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
}
.weather-forecast-date {
  text-align: center;
  color: #396ed2;
  font-size: 16px;
  line-height: 20px;
}
.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #396ed2;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 6px;
}
footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  font-size: 13px;
  padding-top: 13px;
  color: rgba(39, 33, 66, 0.4);
}
